.contact {
	min-width: 95%;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	font-family: 'bank-gothic-regular', sans-serif;
	/* background-image: linear-gradient(#ffffff,#727272);
 background-repeat: no-repeat;
 background-attachment: fixed; */
	background-color: var(--primary-grey);
	color: white;
	align-items: center;
	padding: 1rem;
	border-radius: 1.5rem;
}

.contact:hover {
	background-color: var(--primary-green);
	cursor: pointer;
}
