* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: bank-gothic-regular;
	src: url(/public/font/BankGothicRegular.ttf);
}
@font-face {
	font-family: bank-gothic-bold;
	src: url(/public/font/BankGothicBold.ttf);
}

:root{
	--primary-green: #9bbb59;
	--primary-grey: #595959;
	--gradient-start: #ffffff;
	--gradient-end: #595959;
}