* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: bank-gothic-regular;
	src: url(/src/assets/BankGothic\ Regular/BankGothic\ Regular.ttf);
}
@font-face {
	font-family: bank-gothic-bold;
	src: url(/src/assets/BankGothic\ Bold/BankGothic\ Bold.ttf);
}
